#### Install dependencies

In [1]:
!uv add -q langchain-community

In [ ]:
!uv pip install -q pandas

In [2]:
!uv pip install -q https://github.com/zhenxiay/BasketIntelligence/releases/download/v1.0.0/basketintelligence-1.0.0-py3-none-any.whl

#### Test from langchain official Doc: https://python.langchain.com/docs/integrations/tools/sql_database/

In [ ]:
import sqlite3

import requests
from langchain_community.utilities.sql_database import SQLDatabase
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool


def get_engine_for_chinook_db():
    """Pull sql file, populate in-memory database, and create engine."""
    url = "https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"
    response = requests.get(url)
    sql_script = response.text

    connection = sqlite3.connect(":memory:", check_same_thread=False)
    connection.executescript(sql_script)
    return create_engine(
        "sqlite://",
        creator=lambda: connection,
        poolclass=StaticPool,
        connect_args={"check_same_thread": False},
    )


engine = get_engine_for_chinook_db()

db = SQLDatabase(engine)

In [ ]:
import pandas as pd

tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(tables_query, engine).head(3)

       name
0     Album
1    Artist
2  Customer

In [9]:
from dotenv import load_dotenv
load_dotenv()

True

In [10]:
import os
os.environ["no_proxy"] = "localhost, 127.0.0.1"
os.environ["NO_PROXY"] = "localhost, 127.0.0.1"

In [ ]:
from langchain.chat_models import init_chat_model
llm=init_chat_model("openai:gpt-4o")

In [ ]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [ ]:
toolkit.get_tools()

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002112E664590>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002112E664590>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002112E664590>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002112E664590>, llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x000002115B052210>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x000002115B454950>, root_client=<openai.OpenAI object at 0x000002115AFFAB90>, root_async_client=<openai.AsyncOpenAI object at 0x000002115B43BC50>, model_name='gpt-4o', model_kwargs={}, openai_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x000002115B052210>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x000002115B454950>, root_client=<openai.OpenAI object at 0x000002115AFFAB90>, root_async_client=<openai.AsyncOpenAI object at 0x000002115B43BC50>, model_name='gpt-4o', model_kwargs={}, openai_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [ ]:
from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDatabaseTool,
)

In [ ]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

In [ ]:
from langgraph.prebuilt import create_react_agent
from agent.utils.config import system_prompt

agent_executor = create_react_agent(llm, 
                                    toolkit.get_tools(), 
                                    prompt=system_prompt())

In [ ]:
example_query = "Which country's customers spent the most?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Which country's customers spent the most?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_LURPAUpyWw7SQOKDOw43cJa0)
 Call ID: call_LURPAUpyWw7SQOKDOw43cJa0
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_bl05ZUpsT8vCadwPHe2Q8mMv)
 Call ID: call_bl05ZUpsT8vCadwPHe2Q8mMv
  Args:
    table_names: Customer, Invoice
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_vtdMWP0j6ZnDVRqEDCBrSHLW)
 Call ID: call_vtdMWP0j6ZnDVRqEDCBrSHLW
  Args:
    query: SELECT c.Country, SUM(i.Total) as TotalSpent FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSpent DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT c.Country, SUM(i.Total) as TotalSpent FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSpent DESC LIMIT 1;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_6awFzW4oq41iRrPve8UOHt1t)
 Call ID: call_6awFzW4oq41iRrPve8UOHt1t
  Args:
    query: SELECT c.Country, SUM(i.Total) as TotalSpent FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSpent DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('USA', 523.06)]
================================== Ai Message ==================================

The country whose customers spent the most is the USA, with a total spending of 523.06.

#### Test with own sqlite DB

In [3]:
from BasketIntelligence.load_season_data import LoadSeasonData

loader = LoadSeasonData("2025","gcp-project-id","BasketIntelligence")

2025-10-06 09:49:20,396 - BasketIntelligence.utils.logger - INFO - Logger initialized
2025-10-06 09:49:20,402 - BasketIntelligence.utils.logger - INFO - Logger initialized

In [ ]:
 loader.load_data(
        data_source='per_game',
        db_type='sqlite',
        table_name='per_game',
        db_path='%USERPROFILE%/langgraph_dev_server/langgraph_dev_server/',
        db_name='basketball.sqlite'
    )

In [6]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

connection = sqlite3.connect("basketball.sqlite")

engine = create_engine("sqlite:///basketball.sqlite", echo=False)

tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(tables_query, engine).head(3)

        name
0   per_game
1  adv_stats

In [ ]:
tables_query = '''SELECT * FROM per_game 
                  WHERE Team = 'HOU' 
                  ORDER BY PTS DESC;'''
                  
pd.read_sql_query(tables_query, engine).head(3)

,index,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season
0,50,43,Jalen Green,22,HOU,SG,82,82,32.9,7.4,...,0.5,4.0,4.6,3.4,0.9,0.3,2.5,1.5,21.0,2025
1,63,56,Alperen Şengün,22,HOU,C,76,76,31.5,7.5,...,3.4,6.9,10.3,4.9,1.1,0.8,2.6,2.8,19.1,2025
2,127,110,Amen Thompson,22,HOU,SF,69,42,32.2,5.6,...,2.8,5.4,8.2,3.8,1.4,1.3,2.0,2.4,14.1,2025

In [7]:
from langchain_community.utilities.sql_database import SQLDatabase
db = SQLDatabase(engine)

In [11]:
from langchain.chat_models import init_chat_model
llm=init_chat_model("openai:gpt-4o")

In [12]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [13]:
for tool in toolkit.get_tools():
    print(tool.name, ":", tool.description)

sql_db_query : Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.
sql_db_schema : Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3
sql_db_list_tables : Input is an empty string, output is a comma-separated list of tables in the database.
sql_db_query_checker : Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

#### Result for the basketball intelligence DB case

##### Local trace server setting

In [21]:
import mlflow

mlflow.set_tracking_uri("http://localhost:5000")

In [ ]:
mlflow.set_experiment("Tracing_SQL_Agent")

##### Set server over Databricks

In [31]:
mlflow.set_tracking_uri("databricks")

In [33]:
import mlflow

# This will create a new experiment called "Tracing Quickstart" and set it as active
mlflow.set_experiment("/Tracing_SQL_Agent")

2025/10/06 10:47:42 INFO mlflow.tracking.fluent: Experiment with name '/Tracing_SQL_Agent' does not exist. Creating a new experiment.

<Experiment: artifact_location='dbfs:/databricks/mlflow-tracking/3995642490455680', creation_time=1759740463419, experiment_id='3995642490455680', last_update_time=1759740463419, lifecycle_stage='active', name='/Tracing_SQL_Agent', tags={'mlflow.experiment.sourceName': '/Tracing_SQL_Agent',
 'mlflow.experimentType': 'MLFLOW_EXPERIMENT',
 'mlflow.ownerEmail': 'yuz1ka@bosch.com',
 'mlflow.ownerId': '884739414947581'}>

In [34]:
mlflow.openai.autolog()

In [35]:
from langgraph.prebuilt import create_react_agent
from agent.utils.config import system_prompt
from mlflow.entities import SpanType

def create_agent():
     return create_react_agent(llm, 
                                    toolkit.get_tools(), 
                                    prompt=system_prompt())

In [36]:
example_query = "Which player has the most assists per game from the Team HOU and what is his assist rate from adv stats?"

agent_executor = create_agent()

@mlflow.trace(span_type=SpanType.AGENT)
def run_agent():

    events = agent_executor.stream(
        {"messages": [("user", example_query)]},
        stream_mode="values",
    )
    for event in events:
        event["messages"][-1].pretty_print()

In [37]:
run_agent()

================================ Human Message =================================

Which player has the most assists per game from the Team HOU and what is his assist rate from adv stats?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_3ykzdTnWMhOFWMqj8sfzzwIB)
 Call ID: call_3ykzdTnWMhOFWMqj8sfzzwIB
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

adv_stats, per_game
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_hfvLNbUCYXMbuBKSpSEc3AlZ)
 Call ID: call_hfvLNbUCYXMbuBKSpSEc3AlZ
  Args:
    table_names: per_game
  sql_db_schema (call_4tWKEGolgmIOIIqt1v4Su5h5)
 Call ID: call_4tWKEGolgmIOIIqt1v4Su5h5
  Args:
    table_names: adv_stats
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE adv_stats (
	"index" INTEGER,
	"Rk" INTEGER,
	"Player" TEXT,
	"Age" INTEGER,
	"Team" TEXT,
	"Pos" TEXT,
	"G" INTEGER,
	"GS" INTEGER,
	"MP" REAL,
	"PER" REAL,
	"TS" REAL,
	"3PAr" REAL,
	"FTr" REAL,
	"ORB_rate" REAL,
	"DRB_rate" REAL,
	"TRB_rate" REAL,
	"AST_rate" REAL,
	"STL_rate" REAL,
	"BLK_rate" REAL,
	"TOV_rate" REAL,
	"USG_rate" REAL,
	"OWS" REAL,
	"DWS" REAL,
	"WS" REAL,
	"WS_48" REAL,
	"OBPM" REAL,
	"DBPM" REAL,
	"BPM" REAL,
	"VORP" REAL,
	"Season" TEXT
)

/*
3 rows from adv_stats table:
index	Rk	Player	Age	Team	Pos	G	GS	MP	PER	TS	3PAr	FTr	ORB_rate	DRB_rate	TRB_rate	AST_rate	STL_rate	BLK_rate	TOV_rate	USG_rate	OWS	DWS	WS	WS_48	OBPM	DBPM	BPM	VORP	Season
0	1	Mikal Bridges	28	NYK	SF	82	82	3036.0	14.0	0.585	0.391	0.1	2.7	7.0	4.9	14.4	1.2	1.3	9.7	19.6	3.7	2.0	5.7	0.09	0.4	-0.9	-0.5	1.2	2025
1	2	Josh Hart	29	NYK	SG	77	77	2897.0	16.5	0.611	0.327	0.266	6.4	22.6	14.6	20.7	2.0	0.9	15.5	15.3	5.4	3.8	9.2	0.153	1.1	1.8	2.8	3.6	2025
2	3	Anthony Edwards	23	MIN	SG	79	79	2871.0	20.1	0.595	0.503	0.308	2.4	14.8	8.7	20.9	1.6	1.7	12.0	31.4	4.6	3.8	8.4	0.14	4.4	0.0	4.3	4.6	2025
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_19tfvuJ35sy5j2KpPCzo2GEt)
 Call ID: call_19tfvuJ35sy5j2KpPCzo2GEt
  Args:
    query: SELECT Player, AST FROM per_game WHERE Team = 'HOU' ORDER BY AST DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT Player, AST FROM per_game WHERE Team = 'HOU' ORDER BY AST DESC LIMIT 1;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_JK7ZlhQN1z3qxP4xO51pAnPc)
 Call ID: call_JK7ZlhQN1z3qxP4xO51pAnPc
  Args:
    query: SELECT Player, AST FROM per_game WHERE Team = 'HOU' ORDER BY AST DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('Fred VanVleet', 5.6)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_cJs12Q6LfEO7PYT2MyYMCjvU)
 Call ID: call_cJs12Q6LfEO7PYT2MyYMCjvU
  Args:
    query: SELECT AST_rate FROM adv_stats WHERE Player = 'Fred VanVleet' AND Team = 'HOU';
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT AST_rate FROM adv_stats WHERE Player = 'Fred VanVleet' AND Team = 'HOU';
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_RTDx7xFsHgw857AtiD1ETDSP)
 Call ID: call_RTDx7xFsHgw857AtiD1ETDSP
  Args:
    query: SELECT AST_rate FROM adv_stats WHERE Player = 'Fred VanVleet' AND Team = 'HOU';
================================= Tool Message =================================
Name: sql_db_query

[(21.2,)]
================================== Ai Message ==================================

The player with the most assists per game from the team HOU is Fred VanVleet, with an average of 5.6 assists per game. His assist rate from the advanced stats is 21.2.

#### Test the Spark SQL Toolkit

In [1]:
from langchain_community.agent_toolkits import SparkSQLToolkit, create_spark_sql_agent
from langchain_community.utilities.spark_sql import SparkSQL

In [5]:
import os
print(os.environ.get('JAVA_HOME'))
print(os.environ.get('SPARK_HOME'))

C:\Program Files (x86)\Java\jre1.8.0_431
None

In [4]:
java_path = "C:\\Program Files (x86)\\Java\\jre1.8.0_431"
os.environ['JAVA_HOME'] = java_path

In [22]:
from pyspark import version

In [23]:
version.__version__

'4.0.1'

In [27]:
!java -version

java version "1.8.0_431"
Java(TM) SE Runtime Environment (build 1.8.0_431-b10)
Java HotSpot(TM) Client VM (build 25.431-b10, mixed mode)

In [9]:
import findspark
findspark.init()

In [27]:
findspark.find()

'c:\\Users\\zhenxiay\\langgraph_dev_server\\.venv\\Lib\\site-packages\\pyspark'

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
       .config("spark.driver.memory", "1g") \
       .getOrCreate()

PySparkRuntimeError: [JAVA_GATEWAY_EXITED] Java gateway process exited before sending its port number.

In [ ]:
schema = "langchain_example"
spark.sql(f"CREATE DATABASE IF NOT EXISTS {schema}")
spark.sql(f"USE {schema}")

In [ ]:
from langgraph.prebuilt import create_react_agent
from src.agent.utils.config import system_prompt

agent_executor = create_react_agent(llm, 
                                    toolkit.get_tools(), 
                                    prompt=system_prompt())